<h1>Questions#answer</h1>


<ul >
  <div class="container">
  <p> <%= params[:question] %> </p>
 <p> - You </p>
 </div>
 <div class="container">
  <p> <%= @answer %> </p>
 <p> - Your coach </p>
</div>
</ul>



